$size: 1.6rem;

.button{
  align-items: center;
  background-color: $red;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: $size;
  justify-content: center;
  width: $size;
}

.badge{
  color: white;
}