{
    "presets": [
        ["@babel/preset-env", { "shippedProposals": true }],
        "@babel/react",
        "@emotion/babel-preset-css-prop"
    ],

    "plugins": [
        ["react-hot-loader/babel"],
        ["@babel/plugin-proposal-class-properties", { "loose": true }],
        "@babel/plugin-proposal-json-strings",
        ["@babel/transform-runtime"],
        ["@babel/plugin-proposal-optional-chaining"],
        "babel-plugin-emotion"
    ]
}
