@import '../../../styles/variables';

.checkbox {
  cursor: pointer;
  display: block;
  line-height: 20px;
  padding-left: 35px;
  position: relative;
  user-select: none;

  // Hide the browser's default checkbox
  input {
    cursor: pointer;
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0;

    &:checked ~ .checkmark {
      background-color: $blue;
      border: 0;

      &:after {
        display: block;
      }
    }
  }

  .checkmark {
    border-radius: 3px;
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px;

    &:after {
      border: solid $white;
      border-width: 0 3px 3px 0;
      content: '';
      display: none;
      height: 10px;
      left: 6px;
      position: absolute;
      top: 2px;
      transform: rotate(45deg);
      width: 5px;
    }
  }
}
