@font-face {
  font-family: 'Lato';
  font-weight: normal;
  src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Lato';
  font-weight: 900;
  src: url('../fonts/Lato-Black.ttf');
}

@font-face {
  font-family: 'Lato';
  font-weight: bold;
  src: url('../fonts/Lato-Bold.ttf');
}

@font-face {
  font-family: 'Lato';
  font-weight: bolder;
  src: url('../fonts/Lato-Heavy.ttf');
}

@font-face {
  font-family: 'Lato';
  font-weight: lighter;
  src: url('../fonts/Lato-Medium.ttf');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: lighter;
  src: url('../fonts/Lato-MediumItalic.ttf');
}

@font-face {
  font-family: 'Lato';
  font-weight: 500;
  src: url('../fonts/Lato-Semibold.ttf');
}
